
  .glass-effect {
    background: rgba(242, 242, 242, 0.6); /* Use the #F2F2F2 color with 90% opacity */
    backdrop-filter: blur(17px); /* Apply a slight blur for the glass effect */
    -webkit-backdrop-filter: blur(17px); /* Safari support */
  }